pyrogram
requests
tgcrypto
crypto
firebase
gcloud
dnspython
pycryptodome
python-jwt
requests-toolbelt
sseclient
pytz
python-dotenv
aiohttp
Pillow
psutil
hachoir
motor
https://github.com/Tinche/aiofiles/archive/master.zip
